<html>
{% comment %}
    TODO - break this out into partial templates
{% endcomment %}
    <head>
        <title>Personalized Weather Email</title>
    </head>
    <body>
        <form action="/" method="POST">
            <fieldset>
                <legend>Weather Powered Email</legend>
                {% csrf_token %}
                {{ form }}
                {% comment %}
                    TODO - make sure the inputs' labels are 'Email Address' and 'Location'
                    also, the location dropdown has a placeholder value of 'Where do you live?'
                {% endcomment %}
                <input type="submit" value="Subscribe" />
            </fieldset>
        </form>
    </body>
</html>